:root{
    --azul:#031730;
    --amarillo:#FACE17;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;

}
html::-webkit-scrollbar{
  width: 10px;
  background-color: #FACE17;
}
html::-webkit-scrollbar-thumb{
  width: 7px;
  background-color: #031730;
  
}
.header {
  width: 100%;
  height: 100vh;
  animation-name: cambiar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes cambiar {
  0% {
    background: url(../img/trabajo.jfif);
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
    background-size: cover;
    /* object-fit: cover; */
  }
  50% {
    background: url(../img/caminando.jpg);
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
    background-size: cover;
    /* object-fit: cover; */
  }
  100% {
    background: url(../img/mina.jfif);
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
    background-size: cover;
    /* object-fit: cover; */
  }
}
.nav-bar {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background: rgba(3, 23, 48, 0.8);
  transition: all 0.5 ease;
  position: fixed;
  z-index: 10 ;
}
.logo p {
  font-size: 3.5rem;

  font-family: Rhodium Libre;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  color:rgba(255, 255, 255, 0.8) ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
}
.menu li {
  list-style: none;
  margin: 1rem;
  
}
.menu li .link-barra {
  font-size: 1.6rem;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 500;

  line-height: 18px;
transition: all 0.5s ease;
  text-decoration: none;
  color:var(--azul);
  background: var(--amarillo);
  padding: 1rem;
  clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
  border: var(--azul) solid 2px;
}
.menu li .link-barra:hover{


   background-color: #F2F4F6;
   border: #FACE17 solid 4px;

}
.menu li .link-barra:active{
  padding: 5px 10px;
  background: var(--azul);
  color: #F2F4F6;
  border-radius: 15px 15px ;
}
.logo img{
  width: 80px;
  opacity: 0.5;
}
.logo{
  display: flex;
  align-self: center;
  justify-content: center;

  
}
.titles-container{
  width: 45.8rem;
  height: 6.7rem;
font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
text-align: center;
color: var(--azul);
text-decoration: underline var(--amarillo);
margin-top: 3rem;

}
.titles-container p{
  font-size: 5rem;
}
.container-servicios{
  margin-top: 2%;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  justify-content: space-evenly;
  gap:40px 50px;
  display: grid;
  grid-template-rows: 25rem   ;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill,minmax(250px,auto));
  padding-bottom:2rem ;
}
.slogan{
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
  bottom: 50.06%;
  width: 80rem;
  height: 10.7rem;
  right:  0;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 3.5rem;
  background: #FACE17;
  font-family: Roboto Condensed;
  color: rgba(255, 255, 255, 1);
  position: absolute;
}
.subSlogan{
  font-style: normal;
  font-weight: 500;
  font-size: 6rem;
  position: absolute;
  width: 683px;
  height: 184px;
  color: rgba(255, 255, 255, 1);
  left: 47px;
  bottom: 14px;
}
.fa-facebook-messenger , .fa-whatsapp{
  position: fixed;
  color: #FACE17;
  font-size: 4rem;
  bottom: 4rem;
  right: 4rem;
  z-index: 100;
  border-radius: 5px;
  -webkit-text-stroke: #031730;

}
.fa-whatsapp{
  bottom: 10rem;
  font-size: 5rem;
}
.fa-facebook-messenger:hover , .fa-whatsapp:hover{
  color:#031730;
  cursor: pointer;
}